/* CSS Style Sheet */
body{
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    width: 50px 50px;
    margin: auto;
    border: 50px 50px;
    padding: 50px 50px;
    background-color: rgb(16, 31, 49);
}

div{
    margin: 50px 50px;
    border:100px 0px;
    padding: 100px 0px;
    background-color: rgba(150, 178, 197, 0.3);
}
